.login {
	background: whitesmoke;

	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;

	font-size: 20px;
	color: black;

	border: 2px double;

}

.main {
	background: whitesmoke;

	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;

	font-size: 20px;
	color: #363945;

	border: 2px double;
}

aside {
	width: 40%;
	padding-left: .5rem;
	margin-left: .5rem;
	float: left;
	box-shadow: inset 5px 0 5px -5px #29627e;
	font-style: italic;
	color: #29627e;
}

aside > p {
	margin: .5rem;
}

.contact {
	background: lightgray;

	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;

	border: 2px double;
}

.updel {
	background: lightsteelblue;
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
	border: 2px double;
}

H2 { text-align: left}

.map {
	width: 800px;
	height: 800px;
	margin-left:400px;
}

.form--hidden {
	display: none;
}

.form__button {
	width: 20%;
    background-color: #092834;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.form__button:hover {
	background-color: #006da0;
}

.form__input {
	width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 10px solid #ccc;
    border-radius: 4px;
	box-sizing: border-box;
}

.container {
	font-family: 'Trebuchet MS', sans-serif;
}



