.login {
	background: whitesmoke;

	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;

	border: 2px double;

}

.main {
	background: whitesmoke;
	
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;

	border: 2px double;

}

.contact {
	background: paleturquoise;

	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;

	border: 2px double;
}

.updel {
	background: palegoldenrod;

	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;

	border: 2px double;
}

H2 { text-align: left }
